:root {
  background-color: #F7C5CC;
}

.Page {
  background-color: #F7C5CC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(25px + 1vmin);
  color: black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #C5FAD5;
  padding: 20px;
  text-align: center;
}
header nav a {
  padding: 27px 40px;
  font-size: 2rem;
  color: #CC313D;
  font-family: 'Abril Fatface', cursive;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
  background: #F7C5CC;
  color: #013DC4;
  text-decoration: underline;
  transition: 0.5s ease-out;
}

h2 {
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  border-right: .15em solid black;
  margin-top: 30px;
  margin-left: -50px;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#hello p{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 10mm;
  margin-left: -50px;
  font-family: 'Roboto Mono', monospace;
}

#header {
  font-size: 50px;
  letter-spacing: 3px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

#internName p{
  margin-top: 20px;
  line-height: 7mm;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Coda', cursive;
}

#list p, ul{
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}
#list ul {
  padding-left: 50px;
}

#description p {
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}