:root {
  background-color: #beefff;
}

.Page {
  background-color: #beefff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(25px + 1vmin);
  color: black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #d7ffe2;
  padding: 14px;
  text-align: center;
}
header nav a {
  padding: 17px 90px;
  font-size: 2rem;
  color: #CC313D;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
  background: #beefff;
  color: #013DC4;
  text-decoration: underline;
  transition: 0.5s ease-out;
}

h2 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

#hello p{
  font-size: 22px;
  font-weight: 450;
  line-height: 10mm;
  font-family: "Moderustic", sans-serif;
}

.title {
  font-size: 22px;
  font-family: "Moderustic", sans-serif;
}

.skill {
  font-size: 22px;
  font-family: "Moderustic", sans-serif;
  font-weight: 450;
  margin-left: 30px;
}

#header {
  font-size: 50px;
  letter-spacing: 3px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

#internName p{
  margin-top: 20px;
  line-height: 7mm;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Coda', cursive;
}

#list p, ul{
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}
#list ul {
  padding-left: 50px;
}

#description p {
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
}